@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue-dark: #1a202c;
	--blue-light: #222836;
	--light: #ebf8ff;
	--red-dark: #c63031;
	--red-light: #ff2d2e;
	--electric: #4298e1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

html, body, #root {
	height: 100%
}

#root {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

body {
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--blue-dark);
	color: var(--light);
}

.abyss {
	text-shadow: 0px 0px 10px var(--red-dark);
	animation: animated-glow 1400ms alternate ease-in-out infinite;
}

@keyframes animated-glow {
	from {
		text-shadow: 0px 0px 10px var(--red-dark);
	}
	to {
		text-shadow: none;
	}
}

.nav {
	margin-bottom: 3rem;
}

.nav li a {
	padding: 1rem 2.5rem;
	transition: color 200ms;
	position: relative;
}

.nav li a:hover {
	color: var(--electric);
}

.nav li a.active {
	background-color: var(--blue-light);
	border-radius: 10px;
}

.nav li a.active::before {
	position: absolute;
	content: '';
	background-color: var(--electric);
	width: 12px;
	height: 12px;
	bottom: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}
